# fly.toml app configuration file generated for fm2014-web on 2026-01-25T23:13:47+01:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'fm2014-web'
primary_region = 'cdg'

[build]

[env]
  DATABASE_PATH = '/data/fm2014.db'
  NODE_ENV = 'production'
  PORT = '3000'

[[mounts]]
  source = 'fm2014_data'
  destination = '/data'

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0

[[vm]]
  memory = '256mb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 256
